<template>
    <div
        v-bind:class="frameClassObject"
        v-bind:style="frameStyleObject"
    >
        <button @click="toggle">Toggle Overlay</button>
        <div >
            <div class="title">
                <span>{{ selectedEvent.name }}</span>
            </div>
            <div class="date">
                <span>{{ this.getFormattedEventDate() }}</span>
            </div>
            <div class="flex" ref="dynamicList">
                <div
                    v-for="(item, index) in selectedEvent.talent"
                    v-bind:key="index"
                    v-bind:class="getTalentBorderClass(index)"
                >
                    <span>{{ item }}</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import data from '../data.json';
    import anime from 'animejs';

    export default {
        name: "Visual",
        data() {
            return {
                previousEventIndex: false,
                isOverlayActive: false
            }
        },
        computed: {
            frameClassObject: function () {
                return {
                    'frame': true,
                    'overlay-active': this.isOverlayActive,
                }
            },
            frameStyleObject: function () {
                if (this.isOverlayActive) {
                    return {
                        'background-color': this.selectedEvent.color,
                    }
                } else {
                    return {};
                }
            }
        },
        created() {
            this.selectRandomEvent();
        },
        updated: function(){
            var ref = this;
            this.$nextTick(function () {
                if (ref.$refs.dynamicList.children.length === ref.selectedEvent.talent.length) {
                    let timeline = anime.timeline({
                        easing: 'easeOutCirc',
                        duration: 350,
                    });

                    timeline.add({
                        targets: '.overlay-active .title span',
                        scale: [0, 1],
                        duration: 300,
                    });

                    timeline.add({
                        targets: '.overlay-active .date span',
                        scale: [0, 1],
                        duration: 300,
                    });

                    timeline.add({
                        targets: '.overlay-active .flex div span',
                        scale: [0, 1],
                        duration: 300
                    });
                }
            });
        },
        methods: {
            getTalentBorderClass: function(index) {
                if (this.selectedEvent.talent.length !== 1) {
                    if (index === 0
                        && this.selectedEvent.talent.length === 1
                    ) {
                        return 'first-item'
                    } else if (index === 0) {
                        return 'first-item border-right'
                    }
                    if (index < data.length
                        && this.selectedEvent.talent.length - 1 != index
                    ) {
                        return 'middle-item border-right';
                    }
                    return 'last-item';
                }
                return '';
            },
            selectRandomEvent() {
                let nextIndex = this.previousEventIndex;
                while (nextIndex === this.previousEventIndex) {
                    nextIndex = Math.floor(Math.random() * data.length);
                }
                this.selectedEvent = data[nextIndex];
                this.previousEventIndex = nextIndex;
                return this.selectedEvent;
            },
            getFormattedEventDate() {
                let dateFrom = new Date(this.selectedEvent.from);
                let dateTo = new Date(this.selectedEvent.to);
                return dateFrom.toLocaleString("default", { month: "long" }) + ' ' + dateFrom.getDate() + ' - ' +
                    dateTo.toLocaleString("default", { month: "long" }) + ' ' + dateTo.getDate()
                ;
            },
            toggle() {
                this.isOverlayActive = !this.isOverlayActive;
                if (this.isOverlayActive) {
                    this.selectRandomEvent();
                }
            }
        }
    };
</script>
