<template>
  <div id="app">
    <Visual/>
  </div>
</template>

<script>
import Visual from './components/Visual.vue'

export default {
  name: 'App',
  components: {
    Visual
  }
}
</script>

<style lang="scss">
    @import "./styles/app";
</style>
